@use "../../../styles/variables" as *;

.chat-button {
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: $primary-miplanta-white;
    width: 25%;

    &:hover,:focus {
        border: .2rem solid $main-buttons-miplanta-active;
    }

    &:active {
        background-color: $main-buttons-miplanta-active;
        color: $primary-miplanta-white;
    }
}