@use "./variables" as *;
@use "./typography.scss" as *;
@use "./mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: $secondary-miplanta-black;
}

body {
  background-color: $primary-miplanta-light_gray;
  display: flex;
  justify-content: center;
}

