@font-face {
    font-family: "Montserrat";
    src: url("../../src/assets/fonts/Montserrat-Regular.ttf") format("opentype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../../src/assets/fonts/Montserrat-SemiBold.ttf") format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../../src/assets/fonts/Montserrat-Bold.ttf") format("opentype");
    font-weight: 700;
  }