//COlORS
// Primary Colors
$primary-miplanta-green: #76984b;
$primary-miplanta-light_gray: #ececee;
$primary-miplanta-white: #ffffff;

// Secondary Colors
$secondary-miplanta-gray: #565b5b;
$secondary-miplanta-black: #000000;

// Supporting Colors
$support-color-red: #c94515;

//active color for main buttons
$main-buttons-miplanta-active: #506d2e;

//hover color for main buttons
$main-buttons-miplanta-hover: #8aaa57;

//active color for action buttons
$action-buttons-miplanta-active: #98998e;

//hover color for action buttons
$action-button-miplanta-hover: #ececee;