@use "../../../src/styles/variables" as *;
@use "../../../src/styles/global" as *;

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;

    &__field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__label {
        text-align: left;
        padding-top: 1rem;
        padding-bottom: .25rem;
        font-size: 1rem;
    }

    &__input {
        height: 2.25rem;
        border-radius: 1.25rem;
        background-color: $primary-miplanta-white;
        border: none;
        padding-left: 0.5rem;

        &::placeholder {
            font-size: .825rem;
            font-weight: 400;
        }

        &:focus {
            border-color: $main-buttons-miplanta-active;
            outline: none;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
        padding-right: 4rem;
        padding-left: 4rem;
        cursor: pointer;

        &-link {
            font-size: 0.5rem;
            font-weight: 400;

            &_hyperlink {
                color: $secondary-miplanta-black;
                text-decoration: none;

                &:hover { 
                    text-decoration: underline;
                    color: $main-buttons-miplanta-active;
                }
            }
        }
    }

    &__error {
        font-size: 0.7rem;
        color: $support-color-red;
        text-align: left;
        padding-left: .25rem;
        font-weight: 400;

        &-icon {
            width:0.8rem;
            height:0.8rem;
            vertical-align: middle;
        }
    }
}
