@use "../../../src/styles/variables" as *;
@use "../../../src/styles/global" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:5rem;

    &__logo {
        &-img {
            height: 3rem;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        gap:1rem;

        &-icon {
            width:2.5rem;
            height: 2.5rem;
        }

        &-avatar {
            width: 3rem;
            height: 3rem;
        }
    }
}

