@use "../../../src/styles/variables" as *;

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 7.5rem;

  &__logo {
    &-img {
      height: 3rem;
    }
  }

  &__icons {
    &-icon {
      width: 4rem;
      height: 4rem;
    }
  }
}
