@use "../../../styles/variables" as *;

.main-button {
  width: 100%;
  background-color: $primary-miplanta-green;
  border: none;
  color:$primary-miplanta-white;
  border-radius: 1rem;
  padding: .5rem 0;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: $main-buttons-miplanta-hover;
    border: 1px solid $main-buttons-miplanta-active;
  }

  &:active {
    background-color: $main-buttons-miplanta-active;
    border: 1px solid $main-buttons-miplanta-hover;
    outline: none;
  }
}

