@use "../../styles/variables" as *;
@use "../../styles/global" as *;

.login__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;

    &-logo {
        height: 2.5rem;
    }
}