@use "../../styles/variables" as *;
@use "../../styles/global" as *;

.home-page__button {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 8rem;
}
